div{
    background-color: lightblue;
    width: 1px;
    /* height: 10px; */
    /* padding: 110px 20px 30px 40px; */
   /* padding: 20px 30px 50px; */
   /* padding:30px 40px; */
   /* padding: 30px; */
   /* margin-left: 20px;
   margin-top: 50px; */
   margin: 50px;
   border-left-style: solid;
   border-left-color: white;
   border-left-width: 100px;
   border-top-style: outset;
   border-top-width: 100px;
   border-top-color: white;
   border-right-style: dashed;
   border-right-width: 100px;
   border-right-color: white;
   border-bottom-style: outset;
   border-bottom-width: 100px;
   border-bottom-color: blueviolet;
   /* border: solid 200px red; */
   /* border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px; */
   /* border-radius: 50px; */

}