body {
  margin: 0px;
}
.container {
  width: 1000%;
  height: 920px;
  background-image: url(./Assets/sky.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  overflow: hidden;
}

.heading {
  position: fixed;
  left: 30%;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.city {
  width: 1000%;
  height: 250px;
  background-image: url(./Assets/city.png);
  background-repeat: repeat-x;
  overflow: hidden;
  animation: city 15s infinite linear;
}
@keyframes city {
  100% {
    transform: translateX(-1200px);
  }
}
.road {
  height: 350px;
  width: 1000%;
  background-image: url(./Assets/road.jpg);
  background-repeat: repeat-x;
  overflow: hidden;
  animation: road 15s infinite linear;
  background-size: contain;
}
@keyframes road {
  100% {
    transform: translateX(-1500px);
  }
}

.sun {
  position: absolute;
  top: 13%;
  right: 15%;
  background-repeat: no-repeat;
}
#sunimage {
  border-radius: 50%;
  height: 100px;
}
.flag {
  position: absolute;
  top: 46%;
  right: 40%;
}
.car_container {
  position: absolute;
  top: 300px;
  left: 30%;
}
#car {
  width: 400px;
}

.wheel {
  border-radius: 50%;
  height: 62px;
  position: absolute;
  bottom: 12.2%;
  animation: wheel 2s infinite linear;
}
.left {
  left: 10.2%;
}
.right {
  left: 71%;
}
@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
